html, body {
    height: 100%;
    background-color: #DEDEDE;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.noPad{
    padding:0px;
}

.topPad{
    padding-top: 65px;
}

.card{
    border: 1px solid #BBB;
}

a{
    text-decoration: none;
    color: #444;
}